<head>Application Details</head>
<table> 
    <tr>
        <td>App Id</td>
        <td>{{ app.app_id }}</td>
    </tr>
    <tr>
        <td>Name</td>
        <td>{{ app.name }}</td>
    </tr>
        <tr>
        <td>Category</td>
        <td>{{ app.category }}</td>
    </tr>
        <tr>
        <td>Rating</td>
        <td>{{ app.rating }}</td>
    </tr>
    <tr>
        <td>Installs</td>
        <td>{{ app.install }}</td>
    </tr>


</table>